
body {
    background-color: #121212;   
    color: #e0e0e0;             
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    margin-top: 1.2em;
}
h1, h2, h3 {
    border-bottom: 1px solid #ffffff20;
    width:100%;
}


a {
    color: #64b5f6;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    margin: 0.2rem 0.3rem;
}
a:hover {
    font-weight: 600;
}


ul, ol {
    margin: 1em 0;
    padding-left: 1.5em;
    list-style-type: none;
}

li {
    margin-bottom: 0.3rem;
    background-color: #ffffff20;  
    border-radius: 5px;
    width: 100%;
}
li:hover {
    background-color: #ffffff30;  
    margin-bottom: 0.3rem;
}

